<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Payment Form</h2>
    <br/>
    <h3>price: $50.00</h3>
    <h3>quantity: 1</h3>

    <br/>
    <h3>price: $50.00</h3>
    <h3>quantity: 1</h3>
   
    
    <form action="/create-chectout-session" method="post">
        <input type="submit" value="Checkout Session"></input>
    </form>
    
</body>
</html>